@import '../../../style/variables';

.navbar {
//  background-color: #e44848 !important;
font-size: 1.3em;

a {
    font-family: 'Alegreya', sans-serif;
    color: $text-light;
    // text-shadow: rgb(180, 180, 180) 1px 1px;
  }

  .navbar-nav {
    a {
      margin-right: 2em;
    }

    a:hover {
      color: $primary-color;
    }
  }

  .navbar-brand {
    font-size: 1.5em;
    margin-right: 3em;
  }
}
