@import '../../../style/variables';

.bg-image {
  background: url('~/assets/img/bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
